<!DOCTYPE html>

{% load static %}
{% load sudoku_template_tags %}

<html lang= "en">
<head>
    <meta charset="UTF-8">
    <title>{% block title_block %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static "sudokugame/img/logo.svg" %}" type="image/icon type">

    <!--    Boostrap CSS CDN    -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <!--    JQuery CDN-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    {% block head_block %}
    {% endblock %}
</head>

<body style="background-color: ghostwhite">

<nav class="navbar bg-light flex-md-nowrap p-0 mb-5 shadow navbar-expand-md">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 border-end border-dark" href="{% url 'sudokugame:home' %}">
        <img src="{% static "sudokugame/img/logo.svg" %}" width="32" height="32" alt="">
        <span class="text-dark">Sudoku Online</span>
    </a>

    <div class="container-fluid" style="justify-content: flex-end;">
        <ul class="navbar-nav me-4">
        {% block navbar_items %}
            {#    Additional navbar items go in this block    #}
        {% endblock %}

            {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" data-bs-toggle="dropdown">
    {#                    <img src="person-fill.svg" width="32" height="32" alt="user">#}
                        <img class="border rounded-circle border-dark" src="{% static "sudokugame/img/person-fill.svg" %}" width="32" height="32" alt="{{ user.username }}">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#">View profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'sudokugame:logout' %}"><span style="color: red;">Sign out</span></a></li>

                    </ul>
                </li>
            {% endif %}
        </ul>

        {% if not user.is_authenticated %}
            <div class="text-end">
                <a href="{% url 'sudokugame:login' %}"><button type="button" class="btn btn-primary me-2">Login</button></a>
                <a href="{% url 'sudokugame:register' %}"><button type="button" class="btn btn-warning">Sign-up</button></a>
        </div>
        {% endif %}
    </div>

</nav>

<div>
    {% block body_block %}
    {% endblock %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

</body>
