<table class="game-board {{ board_classes }}">
    <tbody>
    {% for row in grid %}
    <tr class="game-row">
        {% for cell in row %}
            {% if cell == '0' %}
                <td class="game-cell {{ cell_classes }}"><div class="cell-value"></div><div class="notes-grid"></div></td>
            {% else %}
                <td class="game-cell fixed-cell {{ cell_classes }}"><div class="cell-value">{{ cell }}</div></td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
