{% extends 'sudokugame/base.html' %}

{% load static %}
{% load sudoku_template_tags %}

{% block title_block %}
    Help
{% endblock %}

{% block head_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'sudokugame/css/board.css' %}">
{% endblock %}

{% block body_block %}

<main class="container-fluid pb-3 col-8">
    <h2>How to play Suduko</h2>
    <h4>Board layout</h4>
    <p>A sudoku board consists of a 9 x 9 grid of squares. The grid is further sub-divided into 3 x 3 sub-grids. Some of the squares will be filled with digits. The objective is to fill in the remaining squares with the digits 1-9.</p>
    <div style="min-width: 200px; width: 25%" class="text-center mx-auto col-2">
        {% get_board example_board additional_cell_classes="no-hover" additional_board_classes="small-board" %}
        <p>Here's a typical sudoku board</p>
    </div>
    <h4>Don't repeat numbers</h4>
    <p>When filling in the squares, you cannot repeat any numbers in the rows, column or sib-grids</p>
    <h4>Don't guess</h4>
    <p>Sudoku is a logic-based puzzle game. If you are unsure on what number to put in a square, then scan around the grid until you see a pattern.</p>
    <br>
    <h2>Using the interactive sudoku board</h2>
    <h4>Navigation</h4>
    <p>Click on a square or navigate around with your arrow keys. Once you have highlighted the square that you want to fill in you can type on your keyboard the number you wish to enter. You can clear a square by entering 0, backspace or delete.</p>
    <h4>Notes mode</h4>
    <p>If you are not sure on your answer you are able to switch to notes to pencil an answer in by clicking the ‘notes’ button on the left-hand side. You can remove a number from the notes by typing it again. You can switch back to ‘input’ when you an answer you want to input. You can switch back to ‘input’ when you an answer you want to input.</p>
    <h4>Hints and Lives</h4>
    <p>In each game, you are given 3 hints and lives. A hint will automatically fill in a cell.</p>
    <p>Watch out! If you input a wrong answer you will lose a life, it will be game over if you lose all lives.</p>
    <p>You will also get a <strong>bonus</strong> to your final score for not using any hints or losing any lives!</p>
    <h4>Practice mode</h4>
    <p>If you want a more relaxed experience, why not try out a ‘Practice Game’? Here you are able to play without being timed, and you have infinite lives and hints! Click <a href="{% url 'sudokugame:practice' %}">Here</a> to try it out!</p>
    <h4>Keyboard shortcuts</h4>
    <ul>
        <li>Hint - h</li>
        <li>Solve - s</li>
        <li>Input mode - i</li>
        <li>Notes mode - n</li>
    </ul>
    <p>Enjoy!</p>
</main>
{% endblock %}
