{% extends 'sudokugame/base.html' %}

{% load static %}
{% load sudoku_template_tags %}

{% block head_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'sudokugame/css/board.css' %}">
{% endblock %}

{% block body_block %}
<main class="container-fluid pb-3 col-8">
    <div class="d-grid gap-3 mx-auto text-center" style="grid-template-columns: 0.8fr 1fr;">
        <div class="border rounded-3 border-dark d-inline-flex" style="min-width: 185px;">
            <div id="left-panel-wrapper">
                {% block left_panel_block %}
                {% endblock %}
            </div>
        </div>

        {% block board_block %}
        <div style="min-width: 450px; max-width: 800px;">
            {% if board %}
                {% get_board board %}
            {% else %}
                {% get_board %}
            {% endif %}
        </div>
        {% endblock %}

    </div>

</main>

<!-- Play Modal -->
<div class="modal fade" id="playModal" tabindex="-1" aria-labelledby="playModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="playModalLabel">Select Difficulty</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-grid gap-1 d-md-flex justify-content-center">
                    <a href="{% url 'sudokugame:play' %}?difficulty=E"><button class="btn btn-primary btn-lg btn-success" type="button">Easy</button></a>
                    <a href="{% url 'sudokugame:play' %}?difficulty=M"><button class="btn btn-primary btn-lg btn-warning" type="button">Medium</button></a>
                    <a href="{% url 'sudokugame:play' %}?difficulty=H"><button class="btn btn-primary btn-lg btn-danger" type="button">Hard</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
