{% extends 'sudokugame/base.html' %}

{% load static %}
{% load bootstrap5 %}

{% block title_block %}
    Register
{% endblock %}


{% block body_block %}
<main class="container-fluid pb-3 col-4 border rounded-1">
    <h1 class="text-center">Register to Online Sudoku</h1>

    <form id="user_form" role="form" method="post" action="{% url 'sudokugame:register' %}">
    {% csrf_token %}
        {% bootstrap_form user_form %}

        <div class="text-center p-2">
            <p>Already have an account? <a href="{% url 'sudokugame:login' %}">Sign In</a></p>
            <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
        </div>
    </form>

</main>
{% endblock %}
